[dependencies]
  glob = { git = "https://github.com/Zxilly/glob-cj.git", tag = "v0.1.1" }

[package]
  cjc-version = "0.58.3"
  compile-option = "-Woff unused"
  description = "A simple C binding generator for Cangjie"
  link-option = ""
  name = "cjbind"
  output-type = "executable"
  override-compile-option = ""
  src-dir = ""
  target-dir = ""
  version = "0.1.9"

[package.package-configuration."cjbind"]
  compile-option = "--link-options \"${LDFLAGS}\""

[profile.customized-option]
  cfg_opt = "-O2"
  cfg_verbose = "-V"

[target.x86_64-w64-mingw32.release]
  compile-option = "-O2"

[target.aarch64-apple-darwin.release]
  compile-option = "-O2"

[target.x86_64-unknown-linux-gnu.release]
  compile-option = "-O2"

[target.aarch64-unknown-linux-gnu.release]
  compile-option = "-O2"
  